.grid-container {
    display: grid;
    grid-template-columns: 100px 200px 100px;
    grid-template-rows: 100px 200px 200px 100px 150px;
    column-gap: 10px;
    row-gap: 5px;
}

.grid-container > div {
    background-color: skyblue;
    border-radius: 3px;
    font-size: 30px;
    text-align: center;
    padding: 20px;
}

.grid-container > div:nth-child(5) {
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
}

.grid-container > div:nth-child(9) {
    grid-column: span 3;
}

/* 해당 칸이 얼만큼의 컬럼을 차지할 것인지 설정할 수 있다. */
.grid-container > div:last-child {
    grid-column-start: 1;
    grid-column-end: 4;
}