body {
    margin: 0;
}

[class$="-box"] {
    width: 100px;
    height: 100px;
    border: solid 3px black;
    line-height: 100px;
    text-align: center;
    background-color: white;
    opacity: 0.9; /* 불투명도 설정 (1이 완전 불투명, 0이 완전 투명) */
}

.absolute-box {
    position: absolute;
}

#box1 {
    top: 10px;
    left: 100px;
}

#box2 {
    top: 100px;
    right: 30px;
}

#box3 {
    right: 50px;
    bottom: 50px;
}

.relative-box {
    position: relative;
}

#box4 {
    left: 10px;
}

#box5 {
    left: 50px;
}

#box6 {
    left: 100px;
}

#container1 {
    position: relative;
    width: 500px;
    height: 300px;
    border: solid 3px black;
    box-sizing: border-box;
}

#container1 > div {
    width: 100px;
    height: 100px;
    border: solid 3px black;
    box-sizing: border-box;
    position: absolute;
}

#container1 > div:first-child {
    top: 0;
    left: 0;
}

#container1 > div:nth-child(2) {
    top: 0;
    right: 0;
}

#container1 > div:nth-child(3) {
    bottom: 0;
    left: 0;
}

#container2 {
    position: absolute;
    background-color: slateblue;
    width: 800px;
    height: 300px;
    top: 0;
    right: 0;
    z-index: -1; 
    /* 
        포지션이 설정된 요소들끼리의 높이 설정
        (포지션이 설정되지 않은 요소의 z-index는 0으로 설정되어 있음) 
    */
}

#container2 > div {
    background-color: orange;
    width: 100px;
    height: 100px;
    position: absolute;
}

#container2 > div:first-child {
    top: 100px;
    left: 100px;
}

#container2 > div:nth-child(2) {
    top: 0;
    left: 200px;
}

#aside-bar {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: antiquewhite;
    width: 200px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    z-index: -2;
}

#aside-bar > div {
    font-weight: bold;
    font-size: 25px;
}

#sticky-bar {
    background-color: orangered;
    color: white;
    font-size: 30px;
    font-weight: 900; /* 100 ~ 900 */
    width: 100%;
    padding: 15px;
    position: sticky;
    top: 0;
    left: 0;
}

#sticky-bar2 {
    background-color: slateblue;
    color: white;
    font-size: 30px;
    font-weight: 900; /* 100 ~ 900 */
    width: 100%;
    padding: 15px;
    position: sticky;
    top: 35px;
    left: 0;
}