#block-example, #block-example > * {
    border: solid 1px black;
    padding: 5px;
}

#block-example > :first-child {
    width: 30%;
    padding: 30px;
    margin: 30px auto;
}

#block-example > :nth-child(2) {
    width: 10%;
    height: 200px;
    margin: 30px;
}

.span-test {
    border: solid 3px orange;
    background-color: navy;
    color: white;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
}

#nav1 {
    border: solid 1px black;
}

#nav1 > * {
    display: inline;
    border: 1px solid black;
    margin-right: 50px;
}

.ib-test {
    display: inline-block;
    border: solid 3px greenyellow;
    background-color: orange;
    padding: 15px;
    margin: 20px;
}